/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
	text-decoration: none;
}

#content {
	position: absolute;
	top: 50%;
	margin-top: -70px;
	color: #fff;
	z-index: 10;
	text-align: center;
	width: 100%;
}

#navbar_container {
	position: absolute;
	right: 90px;
	top: 27px;
}

#hamburger {
	position: absolute;
	right: 20px;
	top: 20px;
}

#main a, #main a:visited {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	border: solid 2px #fff;
	color: #fff;
	padding: 8px 24px;
	display: inline-block;
	width: 80px;
	transition: all 300ms linear;
}

#main a:hover, #main a:focus {
	background-color: #fff;
	color: #000;
}

#main h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	position: relative;
	font-size: 75px;
	line-height: 75px;
	text-transform: uppercase;
}

#main h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	position: relative;
	font-size: 30px;
	line-height: 30px;	
	text-transform: uppercase;
	padding-bottom: 20px;
}

#video_background {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: -1000;
}

#video_pattern {
	background-image: url(../img/pattern.png);
	position: fixed;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#navbar {

}

ul li {
	display: inline-block;
}

ul li a, ul li a:visited {
	position: relative;
	display: block;
	z-index: 4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 18px;	
	margin: 0px 10px 5px 0px;
	padding: 0px 8px 5px 8px;
	border-bottom: solid 2px rgba(255,255,255,0.0);
	transition: all 500ms linear;
}

ul li a:hover, ul li a:focus {
	border-bottom: solid 2px rgba(255,255,255,1.0);
}


#nav-toggle { 
	position: relative;
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	z-index: 5;
}

#nav-toggle span, #nav-toggle span:before, 
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, 
#nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, 
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}